# Core Data Science
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0

# Modeling
xgboost>=2.0.0
imbalanced-learn>=0.12.0

# Explainability
shap>=0.45.0

# Graph Features
networkx>=3.3

# Dashboard
streamlit>=1.40.0
plotly>=5.22.0
streamlit-aggrid==0.3.4

# Utilities
requests>=2.32.0
pyyaml>=6.0
joblib>=1.4.0
python-dotenv>=1.0.0
